# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.log
.logs/
logs/
.coverage
.pytest_cache/
.cache/
dist/
build/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
terraform.tfvars
terraform.tfvars.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
